# node_modules pentru backend si frontend
/backend/node_modules/
/frontend/node_modules/

# fisiere env, in care stochezi variabilele de mediu
/backend/.env
/frontend/.env

# foldere de build (exemplu pentru React)
 /frontend/build/
 /backend/build/
# log-uri
*.log

# sistem si editori
.DS_Store
Thumbs.db
.vscode/
.idea/

# alte fisiere temporare
npm-debug.log*
yarn-debug.log*
yarn-error.log*
